.not-only{
  margin-top: -181px;
  padding-top: 180px;
  background: url('../img/noise.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-size: auto;
  background-repeat: repeat;
  background-position: top center;
}

.not-only__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not-only__title{
  display: flex;
  flex-direction: column;
  row-gap: 42px;

  h1{
    margin-top: -80px;
  }
}

.not-only__descr{
  max-width: 460px;
  color: $color-dark-s;
}

.not-only__img{
  line-height: 0;
}

@media (max-width: 1279px) {
  .not-only{
    margin-top: -121px;
  }

  .not-only__img{
    width: 50%;

    img{
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 991px) {
  .not-only{
    padding-top: 120px;
  }

  .not-only__content{
    flex-direction: column;
    row-gap: 100px;
  }

  .not-only__title {
    h1 {
      margin-top: 31px;
    }
  }

  .not-only__img{
    margin-left: auto;
    text-align: right;
    width: 86.67%;
    max-width: 569px;
  }
}

@media (max-width: 575px) {
  .not-only__content {
    row-gap: 105px;
  }
  
  .not-only__title {
    row-gap: 41px;

    h1 {
      margin-top: 30px;
    }
  }
}